@font-face {
    font-family: "Adobe Garamond Pro Regular";
    src: url("../fonts/Adobe Garamond Pro Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Adobe Garamond Pro Italic";
    src: url("../fonts/Adobe Garamond Pro Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Adobe Garamond Pro";
    src: url("../fonts/Adobe-Garamond-Pro_2012.ttf") format("truetype");
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proxima-nova-regular.ttf") format("truetype");
}
@font-face {
    font-family: "Proxima Nova Thin";
    src: url("../fonts/proxima-nova-thin.ttf") format("truetype");
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

static {
    position: fixed;
    background-color: white;
    width: 100%;
    opacity: 0.92;
}

header {
    padding: 10px 0;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: 700;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header p {
    padding: 0 20px;
    margin: 0;
}

header a {
    padding: 0 20px;
    margin: 0;
}

section {
    padding: 10px;
}

contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/building-bridges.jpg");
    background-size: cover;
    height: 750px;
}

contact h1 {
    font-family: "Proxima Nova";
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
}

contact h2 {

}

contact h3 {
    font-family: "Adobe Garamond Pro Italic";
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 2px;
}

contact ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

contact li {
    margin: 20px;
}

contact .ul .col-4 {
    display: flex;
    justify-content: space-between;

}

.white-icons {
    color: white;
}

.white-icons:hover {
    color:black;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url('../images/home-background-bw.jpg');
    background-size: cover;
    color: #ffffff;
    height: 750px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    padding: -20px !important;
}

.jumbotron h2 {
    font-family: "Adobe Garamond Pro Italic";
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0;
    color: #fff;
}

.jumbotron h3 {
    margin: 0 0 20px;
    color: #fff;
}

section .row img {
    margin: 0 0 30px;
    width: 100%;
}

.col-md-6 {
    margin: 0 0 30px;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #fbd1d5;
    text-shadow: none;
    background-color: #ffffff;
}

.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #fbd1d5;
}

.btn-secondary {
    background-color: #E8DFE0;
    color: #ffffff;
    margin: 0 0 30px;
}

footer {
    font-size: 12px;
    padding: 0px 0;
}

footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

footer li img {
    width: 32px;
    height: 32px;
}