/* =========================
         FONT FAMILIES
   ========================= */
@font-face {
    font-family: "Adobe Garamond Pro Regular";
    src: url("../fonts/Adobe Garamond Pro Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Adobe Garamond Pro Italic";
    src: url("../fonts/Adobe Garamond Pro Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Adobe Garamond Pro";
    src: url("../fonts/Adobe-Garamond-Pro_2012.ttf") format("truetype");
}
@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/proxima-nova-regular.ttf") format("truetype");
}
@font-face {
    font-family: "Proxima Nova Thin";
    src: url("../fonts/proxima-nova-thin.ttf") format("truetype");
}

/* =========================
        STANDARD STYLING
   ========================= */
body {
    margin: 0;
    padding: 0;
}

main {
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    color: #1a1a1a;
    line-height: 29px;
    margin: 0;
    padding: 0;
}

main h1 {
    font-family: "Proxima Nova";
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
    line-height: 72px;
    margin: 0;
    padding-bottom: 20px;
}

main h2 {
    font-family: "Adobe Garamond Pro";
    font-size: 42px;
    font-weight: 400;
    color: #1a1a1a;
    line-height: 42px;
    padding-bottom: 20px;
}

main h3 {
    font-family: "Adobe Garamond Pro Italic";
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 2px;
    line-height: 36px;
    padding-bottom: 20px;
}

main emph {
    font-family: "Proxima Nova";
    font-size: 26px;
    font-weight: 300;
    color: #1a1a1a;
    line-height: 36px;
}

main .col-sm-8 {
    display: flex;
    justify-content: space-between;
}

main a {
    color: white;
}

main a:hover {
    color: rgba(255,255,255, 0.8);
}

section {
    padding: 1px;
    margin: 0px;
}


/* =========================
        HEADER & FOOTER
   ========================= */

static {
    position: fixed;
    background-color: white;
    width: 100%;
    opacity: 0.92;
}

header {
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header a {
    font-family: "Proxima Nova";
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 2px;
    color: #1a1a1a;
    padding: 0 20px;
    margin: 0px;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
    align-content: center;
}

footer {
    font-size: 12px;
    padding: 10px 0 10px 0;
    font-family: "Proxima Nova";
    font-weight: 400;
    line-height: 19px;
    color: rgba(255,255,255, 0.4);
    background-color: rgb(29,28,32);
    margin: 0;
    padding: 30px 0;
}

footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

footer p {
    margin: 0;
}

footer a {
    color: rgba(255,255,255, 0.4);
}

footer a:hover {
    color: #ffffff;
}


/* =========================
     JUMBOTRON BACKGROUNDS
   ========================= */

.jumbotron {
    display: flex;
    align-items: center;
    color: #ffffff;
    height: 750px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
    margin: 0;
}

.jumbotron-home {
    background-image: url('../images/home-background-dark.jpg');
    background-size: cover;
    border-radius: 0;
}

.jumbotron-contact {
    background-image: url('../images/building-bridges-dark.jpg');
    background-size: cover;
    border-radius: 0;
}

.jumbotron-about {
    background-image: url('../images/about-alex-croll.jpg');
    background-size: cover;
    border-radius: 0;
}

/*section .row img {
    margin: 0 0 30px;
    width: 100%;
}*/

.col-md-6 {
    margin: 0 0 30px;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #fbd1d5;
    text-shadow: none;
    background-color: #ffffff;
}

.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #fbd1d5;
}

.btn-secondary {
    background-color: #E8DFE0;
    color: #ffffff;
    margin: 0 0 30px;
}

